thingy==0.10.0
pymongo==4.6.3
mongomock==4.0.0
mongomock-motor==0.0.14
montydb==2.4.0
tornado==6.4.2
motor==3.0.0
pytest==7.0.1
pytest-cov==3.0.0
pytest-asyncio==0.18.3
sphinx==4.4.0
m2r2==0.3.2
pre-commit==2.19.0
